div{
    padding-left: 50px;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}
input{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: solid;
}
button{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color:aquamarine;
}
p{
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}